<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
      <add key="DataRoot" value="C:/WebRoot/Coursework/"/>
   </appSettings>
   <system.serviceModel>
      <behaviors>
         <serviceBehaviors>
            <behavior>
               <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
               <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
               <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
               <serviceDebug includeExceptionDetailInFaults="true"/>
            </behavior>
         </serviceBehaviors>
         <endpointBehaviors>
            <behavior name="DefaultEndPointBehavior">
               <dataContractSerializer maxItemsInObjectGraph="10000"/>
            </behavior>
            <behavior name="RESTEndPointBehavior">
               <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"/>
            </behavior>
         </endpointBehaviors>
      </behaviors>
      <bindings>
         <webHttpBinding>
            <binding name="WebHttpBindingConfig">
               <!-- Comment out the security for HTTP; uncomment the security for HTTPS -->
               <!--<security mode="Transport">
                  <transport clientCredentialType="None" />
               </security>-->
            </binding>
         </webHttpBinding>
         <basicHttpBinding>
            <binding name="BasicHttpBindingConfig">
               <readerQuotas/>
               <!--
               <security mode="None"/>
               -->
            </binding>
         </basicHttpBinding>
      </bindings>
      <services>
         <service name="Utilities.Courses.CourseworkService">
            <endpoint address="" behaviorConfiguration="RESTEndPointBehavior" binding="webHttpBinding" bindingConfiguration="WebHttpBindingConfig" bindingNamespace="http://www.site.org/Samples" contract="Utilities.Courses.ICourseworkService"/>
            <endpoint address="soap" behaviorConfiguration="DefaultEndPointBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig" bindingNamespace="http://www.site.org/Samples" contract="Utilities.Courses.ICourseworkService"/>
            <endpoint address="mex" binding="mexHttpBinding" bindingNamespace="http://www.site.org/Samples" contract="IMetadataExchange"/>
         </service>
      </services>
   </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
