<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
      <add key="MailHost" value="mailhost.auckland.ac.nz"/>
      <add key="MailDomain" value="@aucklanduni.ac.nz"/>
   </appSettings>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
   </startup>
</configuration>
