<%- include('partials/header') -%>

  <!-- main -->
  <section class="section container blue lighten-5" id="main">
      
      <!-- Modal  -->
      <div id="modal" class="modal modal-not-dismissible">
        <div class="modal-content">
          <h4>Coming Soon</h4>
          <p>This page is still a work-in-progress.</p>
        </div>
        <div class="modal-footer">
          <a href="/" class="modal-close btn-floating btn-med red"><i class="material-icons">home</i></a>
        </div>
      </div>

  </section>

<%- include('partials/footer') -%>
</body>
</html>