<%- include('partials/header') -%>

  <!-- main -->
  <section class="section container blue lighten-5" id="main">
    <form id="examForm">
      <div class="row">
        <div class="col s12 m10 l8">
          <div id="coverPage">
            <h6>Exam Cover Page</h6>
            <label>
              <input type="checkbox" id="coverPageCheckBox" onChange="checkBoxChanged(this, 'coverPage')"/>
              <span>Include a cover page</span>
            </label>
          </div>
          <div id="questions">
            <h6>Select Questions</h6>
            <p><%= id %></p>
          </div>
          <div id="appendix">
            <h6>Appendix</h6>
            <label>
              <input type="checkbox" id="appendixCheckBox" onChange="checkBoxChanged(this, 'appendix')"/>
              <span>Include an appendix</span>
            </label>
          </div>
        </div>  
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light right" id="generate" type="submit"> <!-- disabled -->
          Generate<i class="material-icons right">send</i>
        </button> 
      </div> 
    </form>  
  </section>

<%- include('partials/footer') -%>
<script src="exams-script.js"></script>
</body>
</html>