<%- include('partials/header') -%>

  <!-- main -->
  <section class="section container blue lighten-5" id="main">
    <div class="row">
      <div class="col s12">
        <h5 class="teal-text">Instructions</h5>
        <p>Follow these instructions to create an <a href="exam" target="_blank">exam <i class="tiny material-icons">open_in_new</i></a> using your existing questions.</p>
        <div id="instructions">
          <ol>
            <p><li>Fill-in the exam name (text, numbers, and spaces only). This is to help you identify the exam later.</li></p>
            <p><li>Next, enter the number of versions of the exam (paper count) that you want to generate. This value can be between 1 and 100.</li></p>
            <p><li>Check the cover page box to create an editor window for the exam cover page. This section can contain formatting, and is optional.</li></p>
            <p><li>The questions section will list all of your created questions. Check the box next to a question to include it in the exam.
              Clicking on the <i class="tiny material-icons">zoom_in </i> icon will display the question contents.
              (Questions can be edited on the <a href="multiple-choice-my" target="_blank">my multiple-choice questions <i class="tiny material-icons">open_in_new</i></a> page.)
            </li></p>
            <p><li>Instruction sections are essentially questions without answers. As the name suggests, they can be used for writing instructions for a subset of the questions.
              Click on the <i class="tiny material-icons">add_circle</i> icon to create an editor window for a new instruction section. 
              You can write the section (formatting is allowed) and click on the save button to add the section to your questions. It will be included in the exam automatically. 
              Unchecking the section will prevent it from being included in the exam. Previewing works the same as with regular questions.
              You can also click on the <i class="tiny material-icons">edit</i> icon to make changes to the section.
            </li></p>
            <li></p>Re-order the questions and instruction sections by clicking and dragging them into the order you would like them to appear in on the exam.</li></p>
            <p><li>Check the appendix box to create an editor window for the appendix. This section can contain formatting, and is optional.</li></p>
            <p><li>Click the <b>PREVIEW</b> button to see a preview of the exam. 
              If you are happy with the exam, you can click on <b>GENERATE</b> to create the exam.
              Otherwise, you can still make changes and click on <b>PREVIEW</b> to view the modified exam. 
            </li></p>
            <p><li>Clicking the <b>GENERATE</b> button will bring up a window with a list of the available exam types. 
              See the next section for an explanation of these types.
              Make a selection and click on <b>SELECT</b> to generate the exam.
              A window will be displayed to show you the outcome of the action.
              If the exam was generated, you will have the options to create another exam, 
              or view all of the exams that you have created. 
              Additionally, if there was a problem, you will also be able to modify the exam details and try again.  
            </li></p>
          </ol>
        </div>
        <h5 class="teal-text">Exam Types</h5>
        <p>When generating an exam, the final step is to choose the exam type:</p>
        <p>Selecting <i>standard</i> will create the desired number of papers in pdf format. 
          The generated exams will incorporate any of the following if present: the cover page, appendix, and instruction sections.
        </p>
        <p>Selecting any of the learning management system options will generate a zip file (using the exam name), that can be imported into the appropriate system.
          At present these options DO NOT allow anything except for actual questions to be included in the exam, so all instruction sections etc. will be ignored.
        </p>
    </div>

  </section>

<%- include('partials/footer') -%>
</body>
</html>