<%- include('partials/header') -%>

  <!-- main -->
  <section class="section container blue lighten-5" id="main">
    <div class="row">
      <div class="col s12">
        <h5 class="teal-text">Instructions</h5>
        <p>Follow these instructions to create a <a href="multiple-choice" target="_blank">multiple-choice question <i class="tiny material-icons">open_in_new</i></a>.</p>
        <div id="instructions">
          <ol>
            <p><li>Fill-in the question name (text and numbers only). This is to help you identify the question later.</li></p>
            <p><li>Select a question type: Truth or XYZ.
              Truth questions have 5 different answer options, whilst XYZ has 2 fixed answers with 3 options.
              (See the example section below.)</li></p>
            <p><li>Next, enter the marks for the question. This value can be between 0 and 10.</li></p>
            <p><li>The question text section is where you write the actual question. This section can contain formatting.</li></p>
            <p><li>The correct and incorrect answers section will be set-up with the minimum required number of answers.
              Truth requires 1 correct and 4 incorrect answers, whilst XYZ requires 3 correct and incorrect answers.
              <b>You will not be able to enter answers or preview the question until a question type has been selected.</b>
              Click on the <i class="tiny material-icons">add_circle</i> icon to create the slot for a new answer.
              You are encouraged to add many answers, but do not worry if you leave an answer slot blank -
              the question will generate once the minimum number of answers have been entered.
              The answers will not be lost if you switch between question types. 
              Answers can contain formatting.
            </li></p>
            <p><li>Click the <b>PREVIEW</b> button to see a preview of the question. 
              If you are happy with the question, you can click on <b>GENERATE</b> to create the question.
              Otherwise, you can still make changes and click on <b>PREVIEW</b> to view the modified question. 
  
            </li></p>
            <p><li>Clicking the <b>GENERATE</b> button will create the question and direct you to a new section.
               This section contains all of the multiple-choice questions that you have created.</li></p>
          </ol>
        </div>
        <h5 class="teal-text">Example Questions</h5>
        <h5 class="teal-text">Viewing your Questions</h5>
        <p>The <a href="multiple-choice-my" target="_blank">my created multiple-choice <i class="tiny material-icons">open_in_new</i></a> page displays all of the questions that you have created.</p>
        <p>You can click on a question to see a preview of the question's contents.</p>
        <h5 class="teal-text">Editing a Question</h5>
        <h5 class="teal-text">Deleting a Question</h5>
        <h5 class="teal-text">Using a Question as a Template</h5>
      </div>
    </div>
  </section>

<%- include('partials/footer') -%>
</body>
</html>