<%- include('partials/header') -%>

  <!-- main -->
  <section class="section container blue lighten-5" id="main">
    <div class="row">
      <div class="col s12">
        <h5 class="teal-text">Instructions</h5>
        <p>Follow these instructions to create an <a href="exam" target="_blank">exam <i class="tiny material-icons">open_in_new</i></a> using your existing questions.</p>
        <div id="instructions">
          <ol>
            <p><li>Fill-in the exam name (text, numbers, and spaces only). This is to help you identify the exam later.</li></p>
            <p><li>Next, enter the number of versions of the exam (paper count) that you want to generate. This value can be between 1 and 100.</li></p>
            <p><li>Check the cover page box to create an editor window for the exam cover page. This section can contain formatting, and is optional.</li></p>
            <p><li>The questions section will list all of your created questions. Check the box next to a question to include it in the exam.
              Clicking on the <i class="tiny material-icons">zoom_in </i> icon will display the question contents.
              (Questions can be edited on the <a href="multiple-choice-my" target="_blank">my multiple-choice questions <i class="tiny material-icons">open_in_new</i></a> page.)
            </li></p>
            <p><li>BLOBS
            </li></p>
            <p><li>Check the appendix box to create an editor window for the appendix. This section can contain formatting, and is optional.</li></p>
            <p><li>Clicking the <b>GENERATE</b> button will create the exam.
              A window will be displayed to show you the outcome of the action.
              If the question was generated, you will have the options to create another question, 
              or view all of the multiple-choice questions that you have created. 
              Additionally, if there was a problem, you will also be able to modify the question details and try again.  
            </li></p>
          </ol>
        </div>
    </div>

  </section>

<%- include('partials/footer') -%>
</body>
</html>