<%- include('partials/header') -%>

  <!-- main -->
  <section class="section container blue lighten-5" id="main">
    <div class="row">
      <div class="col s12">
        <h5 class="teal-text">Instructions</h5>
        <p>Follow these instructions to create an <a href="exam" target="_blank">exam <i class="tiny material-icons">open_in_new</i></a> using your existing questions.</p>
        <div id="instructions">
          <ol>
            <p><li>Fill-in the exam name (text, numbers, and spaces only). This is to help you identify the exam later.</li></p>
            <p><li>Next, enter the number of versions of the exam (paper count) that you want to generate. This value can be between 1 and 100.</li></p>
            <p><li>Check the cover page box to create an editor window for the exam cover page. This section can contain formatting.</li></p>
            <p><li>SELECT QUESTIONS</li></p>
            <p><li>Check the appendix box to create an editor window for the appendix. This section can contain formatting.</li></p>
            <p><li>Click the <b>PREVIEW</b> button to see a preview of the question. 
              If you are happy with the question, you can click on <b>GENERATE</b> to create the question.
              Otherwise, you can still make changes and click on <b>PREVIEW</b> to view the modified question. 
            </li></p>
            <p><li>Clicking the <b>GENERATE</b> button will create the question.
              A window will be displayed to show you the outcome of the action.
              If the question was generated, you will have the options to create another question, 
              or view all of the multiple-choice questions that you have created. 
              Additionally, if there was a problem, you will also be able to modify the question details and try again.  
            </li></p>
          </ol>
        </div>
    </div>

  </section>

<%- include('partials/footer') -%>
</body>
</html>